<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titel}}</title>
</head>
<body>
    <h1>{{titel}}</h1>
    <ul class="frmVerzoek">
        <li>
            <label for="aanvrager">Aanvrager</label>
            <input [(ngModel)]="ngAanvrager" type="text" placeholder="Wie doet her verzoek?" id="aanvrager" />
        </li>
        <li>
            <label for="artiest">Artiest</label>
            <input [(ngModel)]="ngArtiest" type="text" placeholder="Van wie is't lieke?" id="artiest" />
        </li>
        <li>
            <label for="nummer">Nummer</label>
            <input [(ngModel)]="ngNummer" type="text" placeholder="Welk lieke is't?" id="nummer" />
        </li>
        <li><button (click)="aanvragen()">Aanvragen</button></li>
    </ul>
</body>
</html>
